form#searchform {
	input[type=search] {
		border: 1px solid yellow;
		opacity: .3;
		padding: 2px;
		width: 70%;
	}
	input[type=submit] {
		border: none;
		background: $black;
		color: $white;
		padding: 5px 10px;
		width: 23%;
		@include fontSize(8);
		&:hover {
			background: $blue;
			opacity: .7;
		}
	}
	input:focus { 
		outline: none;
		border: 1px solid $blue; 
	}
}

form.wpcf7-form,
form.comment-form {
	input[type=text],
	input[type=email],
	textarea {
		border: 1px solid $purple;
		opacity: .7;
		width: 100%;
		padding: 7px;
	}
	input[type=submit] {
		float: right;
		width: 150px;
	}
}

div.wpcf7-validation-errors,
div.wpcf7-mail-sent-ok {
	border: 1px solid $purple;
    font-family: $font-family--body;
    @include fontSize(8);
    text-align: center;
    margin-top: 40px;
    padding: 10px;
}
