div.logo-statement {
	@include outer-container;
	
	div.logo {
		@include span-columns(6);
	}
	svg {
		width: 90%;
		filter: drop-shadow(0px 0px 0px $blue);
		transform: translateZ(0);
		transition: filter 1.2s ease;
		path {
			fill: $purple;
			transition: fill 4s ease;
		}
	}
	div.statement {
		@include span-columns(6);
		@include padding-margin (0, 40px 0 0 0);
		p {
			@include fontSize(14);
			font-weight: $font-weight--medium;			
		}
	}
}

div.svg-shadow svg {
	filter: drop-shadow(10px 10px 0px $blue);
}

main {
	@include padding-margin (100px 0 0 0, 0);
	// border-bottom: 5px solid $black;
	background: $lightgrey;
	border-top: 8px solid $purple;
	// clip-path: polygon(100% 0, 100% 90%, 72% 90%, 66% 100%, 59% 90%, 0 90%, 0 0);
}

// div.shadow {
// 	transform: skew(-50deg,11deg);
//     // z-index: 9000;
//     background: #000;
//     width: 100%;
//     height: 200px;
//     margin-top: -100px;
// }