a {
	color: $blue;
	text-decoration: none;
	border-bottom: 1px dotted $blue;
	font-family: $font-family--body;
	font-weight: bold;
	&:hover {
		border-bottom: 1px dotted $purple;
		color: $purple;
	}

}

/* paragraphs */

p {
	line-height: 1.5;
	color: $darkpurple;
	@include fontSize(9);
	font-family: $font-family--body;
}

h1,
h2 {
	@include fontSize(30);
	text-transform: uppercase;
	color: $purple;
	font-family: 'futura-medium', sans-serif;
	letter-spacing: 1.5;
	text-shadow: 0px 0px 0px $blue;
	transition: text-shadow 2s;
}

.shadow {
	text-shadow: 4px 4px 0px $blue;
}

h2 {
	@include padding-margin (0, 30px 0 100px 0)
}

h3 {
	font-family: 'futura-medium', sans-serif;
	text-transform: uppercase;
	color: $purple;
}

/*blockquotes*/

blockquote {
	background: #F7F7F7;
	margin: 0;
	padding: 20px;
	p {
		margin-top: 0;
	}
}

/*lists*/
ul {
	@include padding-margin (0, 0);
	list-style: none;
	@include fontSize(9);
	font-weight: $font-weight--medium;
}

/*PRE*/

pre {
	background: #F7F7F7;
	padding: 10px;
	border-radius: 4px;
	border: 1px solid #ccc;
}


/*
====================================
Global Classes / Wordpress Specific
====================================
*/

.aligncenter {
	text-align: center;
	margin: 0 auto;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

img {
	// &.alignleft {
	// 	padding-right: 5px;
	// }
	// &.alignright {
	// 	padding-left: 5px;
	// }
}

.clear {
	width: 100%;
	float: left;
	clear: both;
}